.App {
  text-align: center;
}
.header{
  background-color: #04AA6D;
  border:50px solid #333 ;
  text-align:center;

}
.nav{
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  height: 10%;
  width: 100%;
}
.nav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background: #ddd;
  color: red;
}
.article-list{
  font-weight: bold;
}
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
#dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content li:hover {background-color: #ddd;}
.article{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px; 
}

.article-list{
  margin: 100px;
}