.App {
  text-align: center;
}
.header{
  background-color: red;
  border:50px solid #333 ;
  text-align:center;
  margin-top: 80px;
color: white;
height: 100px;
text-decoration: none;
}

.nav{
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  height: 7%;
  width: 100%;
  list-style: none;
  text-transform: capitalize;
  font-weight:bold;
  padding:10px;
  text-align: center;
}
.nav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav a:hover {
  background: white;
  color: red;
  transform: scale(1.2);
}
.article-list{
  font-weight: bold;
  margin: 100px;
  
}
.article{
  border:10px solid red ;
  margin: 10px;
  padding: 10px;
  list-style: none;
  width: 50%;
  text-align: center;
  position: relative;

  
}

.all-articles{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}